@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>


@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Github:</strong>   <a href="https://github.com/olcerhakan">https://github.com/olcerhakan</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/hakan-olcer">https://www.linkedin.com/in/hakan-olcer</a>
</address>