body {
    padding-top: 56px;
   
}
.radiusClass {
    border-radius:10px;
    background-color:azure;
    font:bolder;
    
    margin-right:5px;
}
.blog-post img {
    max-width: 100%;
}
.blog-post-content {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

.blog-post-content.long-text::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 3rem;
        width: 100%;
        background-image: linear-gradient(to bottom, transparent, white);
}
.show-post img {
    max-width: 100%;
}
