@{
    ViewBag.Title = "Email Onayı";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Mailinizi doğruladığınız için teşekkürler. Lütfen @Html.ActionLink("buraya tıklayarak Giriş Yapın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
