@{
    ViewBag.Title = "Şifre Sıfırlama Onayı";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Şifreniz sıfırlanmıştır. Lütfen @Html.ActionLink("buraya basarak giriş yapın.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
